In [1]:
import requests
import pandas as pd

In [15]:
raquetas = {'raquetas': [0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
           0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]}

In [16]:
raquetas = pd.DataFrame(raquetas)

In [17]:
tabla = tabla.join(raquetas, how='left')

In [18]:
dataframe_infonieve = tabla

In [19]:
dataframe_infonieve.to_csv('data_infonieve.csv', index=False)

In [20]:
dataframe_infonieve

,id,name,downhill_skiing,nordic_skiing,status_id,lifts_total,runs_total,km_total,green_runs_total,blue_runs_total,red_runs_total,black_runs_total,special_runs,snowpark,special_runs_total,trineos,esqui_de_fondo,raquetas
0,22001,Alp 2500,1,0,1,33,138,145,29,49,44,16,0,0,0,0,0,0
1,20,La Molina,1,0,1,16,66,71,20,18,22,6,0,1,0,1,0,1
2,19,Masella,1,0,1,17,72,74,9,31,22,10,0,0,0,0,0,0
3,16,Baqueira Beret,1,0,1,36,116,170,5,43,48,17,1,1,3,0,1,0
4,17,Boí Taüll,1,0,1,10,43,46,6,6,15,16,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,1527,Formiguères,1,0,1,7,21,25,4,6,9,2,0,0,0,0,0,0
64,1529,La Quillane,1,0,2,4,5,2,4,1,0,0,0,0,0,0,0,0
65,237,Les Angles,1,0,1,23,45,55,14,9,14,8,0,1,0,1,1,0
66,1530,Porté-Puymorens,1,0,1,10,33,50,12,6,7,8,0,0,0,0,0,0
67,1332,Serra da Estrela,1,0,4,4,19,12,3,4,11,1,0,1,0,0,0,0